:root {
  --input-outline-color: #387adf;
}

html,
body,
#root {
  height: 100%;
}

#root input:focus-visible,
#root select:focus-visible,
#root textarea:focus-visible {
  border-color: var(--input-outline-color);
  box-shadow: 0 0 0 1px var(--input-outline-color);
}
